/* header.css */
.navbar-brand .logo {
  max-height: 50px; /* Adjust this value as needed */
}

.navbar-toggler {
  border: none;
}

.toggler-icon {
  background-color: rgb(112, 88, 68);
  width: 24px;
  height: 2px;
  display: block;
}

.close-btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.close-btn:focus {
  outline: none;
}

.navbar-nav .nav-link {
  padding: 10px 15px;
}

.brand {
  display: flex;
  align-items: center;
}
