.brand img {
  max-width: 250px; /* Adjust the width as needed */
  height: auto;
}

.footer {
  background-color: aliceblue;
  color: #66b3ff;
  padding: 50px 0;
}

.footer h3 {
  color: #66b3ff;
}

.footer p {
  color: #66b3ff;
}

.container {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-6 {
  flex-basis: 45%;
  margin-bottom: 20px;
}
